<a href="https://colab.research.google.com/github/its-kanii/SQL-DQL-Commands/blob/main/dql_commands_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DQL (Data Query Language) Commands in SQL
DQL commands are used to retrieve data from the database. The primary DQL command in SQL is SELECT.
1. SELECT Command

The SELECT statement is used to fetch data from one or more tables in a database.

**Syntax:**

In [ ]:
%%sql
SELECT column1, column2, ... FROM table_name WHERE condition;

**Example:**

In [ ]:
%%sql
SELECT name, age FROM employees WHERE age > 30;

This query retrieves the names and ages of employees who are older than 30.

#Use Cases of DQL Commands

#1. Retrieving All Records

Use Case:

When an HR manager wants to view all employees' details.

Example:

In [ ]:
%%sql
SELECT * FROM employees;

Retrieves all columns and rows from the employees table.

#2. Filtering Data
Use Case:

When a sales department wants to fetch orders above a certain amount.

Example:

In [ ]:
%%sql
SELECT order_id, customer_name, total_amount
FROM orders
WHERE total_amount > 5000;

Retrieves orders where the total amount exceeds 5000.

#3. Sorting Data
Use Case:

 When a finance team wants to see the highest transactions first.

Example:

In [ ]:
%%sql
SELECT customer_name, total_amount
FROM transactions
ORDER BY total_amount DESC;

Fetches transactions in descending order of total amount.

#4. Aggregation with GROUP BY
Use Case:

When a business wants to see total sales per product.

Example:

In [ ]:
%%sql
SELECT product_id, SUM(total_amount) AS total_sales
FROM orders
GROUP BY product_id;

Groups orders by product and calculates the total sales per product.

#5. Using Joins for Multiple Tables
Use Case:

 When a company wants to fetch employee names with their department details.

Example:

In [ ]:
%%sql
SELECT employees.name, departments.department_name
FROM employees
JOIN departments ON employees.department_id = departments.department_id;

Fetches employee names along with their respective department names.

* DQL is essential for querying data efficiently, and combining it with
filtering, sorting, and aggregation helps in data analysis and reporting.